.main-page{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}
.forgot-pass{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

