.full-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addnotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loginbutton{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 10px;
}
.main-form{
    width: 42vw;
}
.borderor{
    display: flex;
    position: absolute;
    top: -28px;
    padding:0px 10px;
}


@media (max-width: 900px){
    .loginbutton{
        width: 60vw;
    }
    .main-form{
        width: 61vw;
    }
}
@media (max-width: 700px){
    .loginbutton{
        width: 80vw;
    }
    .main-form{
        width: 85vw;
    }
}


