.main-card-style{

}

@media  screen and (max-width: 768px) {
    .main-card-style {
        
    }
}
.bg-primary-subtle{
    /* width: 27vw; */
}
@media  screen and (max-width: 390px) {
    .bg-primary-subtle{
        width: 100%;
    }
}
.notescomponent {
    overflow:hidden;
}
.notescomponent img{
    width: 100%;
    height: auto;
    object-fit:cover;
}
.notetag{
    /* border: 2px solid rgb(173, 199, 237); */
    margin-bottom: 5px;
    font-weight: 400;
    opacity: 0.8;
}

.notedate{
 font-size: 12px;
 opacity: 0.7;
}