.full-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.left-page{
    width: 55vw;
    margin-right: -10px;
}


@media (max-width: 770px){
    .full-page{
        display: flex;
        flex-direction: column;
    }
    .right-page{
        display: none;
    }
    .left-page{
     width: 90vw;
    }
}
@media (max-width: 470px){
    .full-page{
        display: flex;
        flex-direction: column;
    }
    .right-page{
        display: none;
    }
    .left-page{
     width: 100vw;
    }
}