.user-box {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(210, 228, 255);
}

#drawericon {}

@media (max-width:400px) {
    #drawericon {
        width: 200px;
    }
}

#menubarhome {}

@media (max-width:400px) {
    #menubarhome {
        font-size: 20px;
        font-weight: 500;
        margin-left: -20px;
    }
}
@media (max-width:300px) {
    #menubarhome {
        font-size: 15px;
        font-weight: 500;
        margin-left: -30px;
    }
}

#navbar-brand {
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin-right: 15px;
}

#userdetails {
    display: block;
    display: flex;
}

@media (max-width:900px) {
    #navbar-brand {
        display: none;
    }

    #userdetails {
        display: block;
        display: flex;
    }
}

.user-icon {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border-radius: 50%;
}

.user-name {
    font-size: 20px;
    font-weight: 500;
    color: rgb(123, 31, 162);
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user-icon img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    overflow: auto;
}

.logout {
    margin: 20px;
    background-color: rgb(123, 31, 162);
    color: white;
    font-size: larger;
    padding-bottom: 5px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
}

.logout:hover {
    background-color: rgb(113, 25, 151);
}